n8n/workflows/page-audit.json
{
  "name": "SEO Page Audit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "page-audit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "page-audit"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate input data from webhook\nconst webhookData = $input.item.json;\n\n// n8n webhook can provide data in different formats\nlet data = webhookData;\nif (webhookData.body) {\n  if (typeof webhookData.body === 'string') {\n    try {\n      data = JSON.parse(webhookData.body);\n    } catch (e) {\n      data = webhookData.body;\n    }\n  } else {\n    data = webhookData.body;\n  }\n} else if (webhookData.json) {\n  data = webhookData.json;\n}\n\n// Validate required fields\nif (!data.job_id || !data.organization_id || !data.input_data) {\n  throw new Error('Missing required fields: job_id, organization_id, or input_data');\n}\n\nconst inputData = typeof data.input_data === 'string' \n  ? JSON.parse(data.input_data) \n  : data.input_data;\n\n// Return structured data for next nodes\nreturn {\n  json: {\n    job_id: data.job_id,\n    organization_id: data.organization_id,\n    user_id: data.user_id,\n    tool_key: data.tool_key || 'seo-autopilot',\n    page_id: inputData.page_id,\n    page_url: inputData.page_url,\n    domain_url: inputData.domain_url,\n    strategy: inputData.strategy || 'mobile',\n    pagespeed_api_key: inputData.pagespeed_api_key,\n    pagespeed_api_key_id: inputData.pagespeed_api_key_id,\n    callback_url: data.callback_url || 'http://127.0.0.1:5000/api/webhooks/n8n/callback'\n  }\n};"
      },
      "id": "validate-input",
      "name": "Validate Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/internal/seo/audit-page",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  page_url: $json.page_url,\n  domain_url: $json.domain_url,\n  strategy: $json.strategy\n}) }}",
        "options": {}
      },
      "id": "seo-audit",
      "name": "SEO Audit (Internal API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.pagespeed_api_key }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-pagespeed-key",
      "name": "Check PageSpeed Key",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/internal/pagespeed/analyze",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  page_url: $json.page_url,\n  strategy: $json.strategy,\n  api_key: $json.pagespeed_api_key\n}) }}",
        "options": {}
      },
      "id": "pagespeed-api",
      "name": "PageSpeed API (Internal)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 350],
      "continueOnFail": true,
      "notes": "Only runs if pagespeed_api_key is provided"
    },
    {
      "parameters": {
        "jsCode": "// Return null result if PageSpeed key was missing\nreturn { json: { success: false, error: 'PageSpeed API key not provided' } };"
      },
      "id": "no-pagespeed-key",
      "name": "No PageSpeed Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 450]
    },
    {
      "parameters": {
        "jsCode": "// Merge SEO audit and PageSpeed results\n// Handle cases where one or both may have failed\nconst allItems = $input.all();\n\n// Find SEO audit result (from SEO Audit node)\nlet seoAuditItem = null;\nlet pagespeedItem = null;\n\nfor (const item of allItems) {\n  // SEO audit comes from 'SEO Audit (Internal API)' node\n  if (item.json.success !== undefined && item.json.audit_results) {\n    seoAuditItem = item;\n  }\n  // PageSpeed comes from either 'PageSpeed API (Internal)' or 'No PageSpeed Key'\n  if (item.json.core_web_vitals !== undefined || item.json.error !== undefined) {\n    pagespeedItem = item;\n  }\n}\n\nconst seoData = seoAuditItem ? seoAuditItem.json : null;\nconst pagespeedData = pagespeedItem ? pagespeedItem.json : null;\n\n// Get original input data\nconst originalData = $('Validate Input Data').item(0).json;\n\n// Combine results\nconst combinedData = {\n  ...originalData,\n  seo_audit: seoData && seoData.success ? seoData : null,\n  pagespeed: pagespeedData && pagespeedData.success ? pagespeedData : null\n};\n\nreturn { json: combinedData };"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5000/api/internal/ai/generate-fixes",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  organization_id: $json.organization_id,\n  user_id: $json.user_id,\n  page_url: $json.page_url,\n  audit_results: $json.seo_audit?.audit_results || {},\n  scores: $json.seo_audit?.scores || {},\n  pagespeed_results: $json.pagespeed || null,\n  task_type: 'seo_fix'\n}) }}",
        "options": {}
      },
      "id": "ai-fixes",
      "name": "AI Fixes (Internal API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 300],
      "notes": "Generates AI-powered SEO fixes using AI router"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all results for callback\n// Get merged data from previous node\nconst mergedData = $('Merge Results').item(0).json;\n\n// Get AI fixes from current input (AI Fixes node)\nconst aiFixesResponse = $json;\n\n// Get original input data\nconst inputData = $('Validate Input Data').item(0).json;\n\nconst seoAudit = mergedData.seo_audit;\nconst pagespeed = mergedData.pagespeed;\n\n// Extract Core Web Vitals from pagespeed if available\nconst cwv = pagespeed && pagespeed.success ? pagespeed.core_web_vitals : {};\n\n// Prepare comprehensive results\nconst results = {\n  job_id: inputData.job_id,\n  status: 'completed',\n  output_data: {\n    page_id: inputData.page_id,\n    page_url: inputData.page_url,\n    strategy: inputData.strategy,\n    seo_audit: seoAudit && seoAudit.success ? {\n      audit_results: seoAudit.audit_results,\n      scores: seoAudit.scores\n    } : null,\n    pagespeed: pagespeed && pagespeed.success ? {\n      page_speed_score: pagespeed.page_speed_score,\n      core_web_vitals: pagespeed.core_web_vitals,\n      lighthouse_data: pagespeed.lighthouse_data\n    } : null,\n    ai_fixes: aiFixesResponse && aiFixesResponse.success ? aiFixesResponse.ai_fixes : null\n  }\n};\n\nreturn { json: results };"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.callback_url || 'http://127.0.0.1:5000/api/webhooks/n8n/callback' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "callback",
      "name": "Send Callback to Flask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, job_id: $('Validate Input Data').item(0).json.job_id }) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate Input Data", "type": "main", "index": 0 }]]
    },
    "Validate Input Data": {
      "main": [[
        { "node": "SEO Audit (Internal API)", "type": "main", "index": 0 },
        { "node": "Check PageSpeed Key", "type": "main", "index": 0 }
      ]]
    },
    "SEO Audit (Internal API)": {
      "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]]
    },
    "Check PageSpeed Key": {
      "main": [[
        { "node": "PageSpeed API (Internal)", "type": "main", "index": 0 },
        { "node": "No PageSpeed Key", "type": "main", "index": 0 }
      ]]
    },
    "PageSpeed API (Internal)": {
      "main": [[{ "node": "Merge Results", "type": "main", "index": 1 }]]
    },
    "No PageSpeed Key": {
      "main": [[{ "node": "Merge Results", "type": "main", "index": 1 }]]
    },
    "Merge Results": {
      "main": [[{ "node": "AI Fixes (Internal API)", "type": "main", "index": 0 }]]
    },
    "AI Fixes (Internal API)": {
      "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]]
    },
    "Aggregate Results": {
      "main": [[{ "node": "Send Callback to Flask", "type": "main", "index": 0 }]]
    },
    "Send Callback to Flask": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
