n8n/workflows/seo-autopilot-domain-verification.json
{
  "name": "SEO Autopilot - Domain Verification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "domain-verification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "domain-verification"
    },
    {
      "parameters": {
        "functionCode": "// Validate domain verification request\nconst jobData = items[0].json;\nconst orgId = jobData.organization_id;\nconst toolKey = jobData.tool_key || 'seo-autopilot';\n\nif (!orgId || !toolKey) {\n  throw new Error('Missing organization_id or tool_key');\n}\n\nreturn items;"
      },
      "id": "validate-access",
      "name": "Validate Access",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract domain data\nconst data = $input.item.json;\nconst inputData = typeof data.input_data === 'string' ? JSON.parse(data.input_data) : data.input_data;\n\nreturn {\n  json: {\n    job_id: data.job_id || data.id,\n    organization_id: data.organization_id,\n    tool_key: data.tool_key || 'seo-autopilot',\n    domain_url: inputData.domain_url || inputData.url,\n    domain_id: inputData.domain_id || inputData.seo_domain_id,\n    callback_url: data.callback_url || `http://127.0.0.1:5000/api/webhooks/n8n/callback`\n  }\n};"
      },
      "id": "process-domain-data",
      "name": "Process Domain Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.domain_url }}",
        "method": "GET",
        "options": {
          "timeout": 10000,
          "followRedirect": true,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "check-domain-accessibility",
      "name": "Check Domain Accessibility",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.domain_url }}/robots.txt",
        "method": "GET",
        "options": {
          "timeout": 5000,
          "followRedirect": true,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "check-robots-txt",
      "name": "Check robots.txt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process verification results\nconst domainCheck = $('Check Domain Accessibility').item.json;\nconst robotsCheck = $('Check robots.txt').item.json;\nconst domainData = $input.item.json;\n\nconst statusCode = domainCheck.statusCode || (domainCheck.status ? parseInt(domainCheck.status) : null);\nconst isAccessible = statusCode >= 200 && statusCode < 400;\nconst robotsAllowed = robotsCheck && robotsCheck.body && !robotsCheck.body.includes('Disallow: /');\n\nreturn {\n  json: {\n    ...domainData,\n    verification_status: isAccessible ? 'verified' : 'failed',\n    http_status: statusCode,\n    is_accessible: isAccessible,\n    robots_txt_exists: !!robotsCheck,\n    robots_allowed: robotsAllowed || true,\n    verified_at: new Date().toISOString()\n  }\n};"
      },
      "id": "process-verification",
      "name": "Process Verification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.callback_url }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_id",
              "value": "={{ $json.job_id }}"
            },
            {
              "name": "status",
              "value": "={{ $json.verification_status === 'verified' ? 'completed' : 'failed' }}"
            },
            {
              "name": "result_data",
              "value": "={{ $json }}"
            }
          ]
        }
      },
      "id": "callback-flask",
      "name": "Callback to Flask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Validate Access", "type": "main", "index": 0}]]
    },
    "Validate Access": {
      "main": [[{"node": "Process Domain Data", "type": "main", "index": 0}]]
    },
    "Process Domain Data": {
      "main": [[{"node": "Check Domain Accessibility", "type": "main", "index": 0}, {"node": "Check robots.txt", "type": "main", "index": 0}]]
    },
    "Check Domain Accessibility": {
      "main": [[{"node": "Process Verification", "type": "main", "index": 0}]]
    },
    "Check robots.txt": {
      "main": [[{"node": "Process Verification", "type": "main", "index": 0}]]
    },
    "Process Verification": {
      "main": [[{"node": "Callback to Flask", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "name": "SEO Autopilot",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "seo-autopilot"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
